<launch>
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim0"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim1"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim2"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim3"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim4"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim5"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim6"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim7"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim8"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim9"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim10"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim11"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim12"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim13"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim14"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim15"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim16"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim17"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim18"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim19"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim20"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim21"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim22"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim23"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim24"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim25"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim26"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim27"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim28"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim29"
    respawn="true"
  />
 <node
    pkg="turtlesim"
    type="turtle_teleop_key"
    name="teleop_key"
    required="true"
    launch-prefix="xterm -e"
  />
</launch>